<ion-header>
  <ion-toolbar>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of producto">
  <ion-card >
    <img src={{item.URL}}>
  </ion-card>

  <h4>Nombre: {{item.Nombre}}</h4>
  <h4>Cantidad: {{item.CantidadEnStock}}</h4>
  <h4>Precio: {{item.Precio}}</h4>


  <ion-button  (click)="modificar()" >
    Modificar
  </ion-button>
  <ion-button  (click)="eliminar()" >
    Eliminar
  </ion-button>
  <ion-button  (click)="cancelar()" >
    Cancelar
  </ion-button>


</ion-content>
