<ion-header *ngFor="let item of movie" >
  <ion-toolbar>
    <ion-title> <p > Cantidad Tickets: {{item.Titulo}}</p></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-card *ngFor="let item of movie" >
    <img src={{item.URL}}>
  </ion-card>

  <ion-item>
    <ion-button slot="start" fill="outline" (click)="lessTicketsAdultos()">
      -
    </ion-button>
    <p>
      Tickets de adulto:{{ticketAdultos}}
    </p>

    <ion-button slot="end" fill="outline" (click)="addTicketsAdultos()" >
      +
    </ion-button>
  </ion-item>


  <ion-item>
    <ion-button slot="start" fill="outline" (click)="lessTicketsAdultosM()"  >
      -
    </ion-button>
    <p>
      Tickets de adulto mayor:    {{ticketAdultosMayor}}
    </p>

    <ion-button slot="end" fill="outline" (click)="addTicketsAdultosM()">
      +
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button slot="start" fill="outline" (click)="lessTicketsNinos()" >
      -
    </ion-button>
    <p>
      Tickets de niños:{{ticketNinos}}
    </p>

    <ion-button slot="end" fill="outline" (click)="addTicketsNinos()">
      +
    </ion-button>
  </ion-item>



  <p></p>
  <ion-button (click)="comprar()" >
    Comprar
  </ion-button>
  <ion-button  (click)="cancelar()" class="customButtom">
    Cancelar
  </ion-button>

</ion-content>
