<ion-header>
  <ion-toolbar>
    <ion-title *ngFor="let item of usuario">Bienvenid@: {{item.Nombre}} {{item.Apellido1}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label  >Carrito de compras:</ion-label>
  <ion-slides  [options]="option"  class="ion-margin-top" >

    <ion-slide *ngFor="let item of alimento">

      <ion-card>
        <img src={{item.URL}}>

            <ion-card-header>
              <ion-card-title>Producto: {{ item.Producto }}</ion-card-title>
              <ion-card-subtitle>Cantidad: {{ item.Cantidad }}</ion-card-subtitle>
              <ion-card-subtitle>Precio: {{ item.Precio }}</ion-card-subtitle>
            </ion-card-header>

            <ion-button (click)="eliminar(item.Producto)"> Eliminar </ion-button>
            <ion-button (click)="compra(item.Producto)"> Pagar</ion-button>

      </ion-card>

    </ion-slide>


    <ion-slide *ngFor="let item of pelis">

      <ion-card>
        <img src={{item.URL}}>

            <ion-card-header>
              <ion-card-title>Boletos de: {{ item.Producto }}</ion-card-title>


              <ion-card-subtitle>Tickets Ninos: {{ item.TicketsNinos }}</ion-card-subtitle>
              <ion-card-subtitle>Tickets Generales: {{ item.TicketsGeneral }}</ion-card-subtitle>
              <ion-card-subtitle>Tickets Adultos Mayores: {{ item.TicketsAdultos }}</ion-card-subtitle>
              <ion-card-subtitle>Cantidad  tickets Totales: {{ item.Cantidad }}</ion-card-subtitle>
              <ion-card-subtitle>Tickets Asientos: {{ item.Asientos }}</ion-card-subtitle>
              <ion-card-subtitle>Precio Total: {{ item.Precio }}</ion-card-subtitle>
            </ion-card-header>

            <ion-button (click)="eliminar(item.Producto)"> Eliminar </ion-button>
            <ion-button (click)="compra(item.Producto)"> Pagar</ion-button>

      </ion-card>


    </ion-slide>


  </ion-slides>
  <p></p>
  <ion-item>
    <ion-button (click)="historial()"> Ver Historial</ion-button>
  </ion-item>



  <ion-tabs >
    <ion-tab-bar slot="bottom">

      <ion-tab-button  (click)="comida()">
        <ion-icon name="ticket"></ion-icon>
        <ion-label>Comidas</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="principal()">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Peliculas</ion-label>
      </ion-tab-button>


      <ion-tab-button  (click)="perfil()" >
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
