<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [formGroup]="registerForm">
    <p></p>
    <ion-input placeholder="Nombre Pelicula " class="primary-input" formControlName="Nombre" > </ion-input>
    <ion-input placeholder="Cantidad Disponible " class="primary-input" formControlName="CantidadDisponible" > </ion-input>
    <ion-input placeholder="Precio producto " class="primary-input" formControlName="Precio" > </ion-input>
    <ion-item  class="primary-input" >
      <ion-label >Tipo Comida</ion-label>
      <ion-select placeholder="Selecciona" formControlName="idTipoAlimento" >
        <ion-select-option value="0" >Combo</ion-select-option >
        <ion-select-option value="1" >Bebida</ion-select-option>
        <ion-select-option value="2" >Alimento</ion-select-option>
      </ion-select>
    </ion-item>


      <ion-button (click)="cancelar()"> Cancelar</ion-button>
      <ion-button [disabled]="!registerForm.valid" >Crear</ion-button>

  </div>

</ion-content>
