
<ion-content [fullscreen]="true" >

  <ion-slides  [options]="option"  class="ion-margin-top" >

    <ion-slide *ngFor="let item of allmovies">

      <ion-card  (click)="pelicula(item.idPelicula)">
        <img src={{item.URL}}>

        <ion-card-header >
            <ion-card-header>
              <ion-card-subtitle>Pelicula: </ion-card-subtitle>
              <ion-card-title>{{ item.Titulo }}</ion-card-title>
                Sus generos son: {{ item.Director }}
            </ion-card-header>

        </ion-card-header>
      </ion-card>


    </ion-slide>

  </ion-slides>


  <ion-item>
    <ion-button (click)="agregarPelicula()" *ngIf="ocultar">Agregar Pelicula</ion-button>
  </ion-item>




  <ion-tabs >
    <ion-tab-bar slot="bottom">

      <ion-tab-button  (click)="comida()">
        <ion-icon name="ticket"></ion-icon>
        <ion-label>Comidas</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="principal()">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Peliculas</ion-label>
      </ion-tab-button>


      <ion-tab-button  (click)="perfil()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
