<ion-header *ngFor="let item of movie" >
  <ion-toolbar>
    <ion-title> <p >{{item.Titulo}}</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of movie" >

  <ion-card >
    <img src={{item.URL}}>
  </ion-card>



  <h4>Genero: {{item.Generos}}</h4>
  <h4>Director: {{item.Director}}</h4>
  <h4>Edad: {{item.EdadRequerida}}</h4>



  <ion-button (click)="eliminar()" *ngIf="ocultar">
    Eliminar
  </ion-button>
  <ion-button (click)="modificar()" *ngIf="ocultar" >
    Modificar
  </ion-button>


  <ion-button (click)="comprar()"  *ngIf="!ocultar">
    Comprar
  </ion-button>
  <ion-button  (click)="cancelar()" >
    Cancelar
  </ion-button>



</ion-content>











