<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="schedule" (click)="tickets()">
        <ion-icon name="ticket"></ion-icon>
        <ion-label>Tickets</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Movies" (click)="movies()">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Movies</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="Login" (click)="login()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
