<ion-header>

</ion-header>

<ion-content class="ion-padding">

  <form >
    <div class="title">
      <h4>INICIAR SECCION</h4>
    </div>

    <div [formGroup]="loginForm">

      <ion-input placeholder="Email" class="primary-input" formControlName="Usuario" ></ion-input>
      <ion-input placeholder="Contraseña" type="password" class="primary-input" formControlName="Password" ></ion-input>

      <div class="ion-margin-top">
        <ion-button expand="block" (click)="login()"  [disabled]="!loginForm.valid">INICIAR SESION</ion-button>
      </div>

      <div class="ion-margin-top ion-text-center">
        <a (click)="dismiss()">Cancelar</a>
      </div>
    </div>
  </form >
</ion-content>
