<ion-header>
  <ion-toolbar>
    <ion-title>Cantidad de Producto a Comprar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of producto">
  <ion-card  >
    <img src={{item.URL}}>
  </ion-card>

  <p></p>
  <h1> {{item.Nombre}} </h1>
  <ion-item>
    <ion-button slot="start" fill="outline" (click)="less()">
      -
    </ion-button>
    <p>
      Cantidad:{{cantidad}}
    </p>

    <ion-button slot="end" fill="outline" (click)="add()" >
      +
    </ion-button>
  </ion-item>
  <p></p>
  <ion-button (click)="comprar()" >
    Comprar
  </ion-button>



</ion-content>
