<ion-header>
  <ion-toolbar>
    <ion-title>comprar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>N/A</small>
    </li>

    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>

    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>

  <div class="container">
    <div class="row">
      <div *ngFor="let item of fila1">
        <div class={{item.Estado}} (click)="change(item.Numero)"> {{item.Numero}}</div>

      </div>
    </div>


    <div class="row" >
      <div *ngFor="let item of fila2">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>

    <div class="row" >
      <div *ngFor="let item of fila3">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>


    <div class="row" >
      <div *ngFor="let item of fila4">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>

    <div class="row" >
      <div *ngFor="let item of fila5">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>


    <div class="row" >
      <div *ngFor="let item of fila6">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>

    <div class="row" >
      <div *ngFor="let item of fila7">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>

    <div class="row" >
      <div *ngFor="let item of fila8">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>


    <div class="row" >
      <div *ngFor="let item of fila9">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>

    <div class="row" >
      <div *ngFor="let item of fila10">
        <div class={{item.Estado}} (click)="change(item.Numero)" >{{item.Numero}}</div>

      </div>
    </div>



  </div>


</ion-content>
