<ion-header>
  <ion-toolbar>
    <ion-title>comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-searchbar animated (ionChange)="buscar( $event )"></ion-searchbar>
</ion-item>

  <ion-slides>

      <ion-slide *ngFor="let item of allcomida | filtro: textbuscar ">

        <ion-card  (click)="comprar(item.idProducto)">
          <img src={{item.URL}}>

          <ion-card-header >
              <ion-card-header>
                <ion-card-subtitle>Producto: </ion-card-subtitle>
                <ion-card-title>{{ item.Nombre }}</ion-card-title>
                <ion-card-subtitle>Precio: {{item.Precio}} </ion-card-subtitle>
                <ion-card-subtitle>Tipo: {{item.TipoProducto}} </ion-card-subtitle>
              </ion-card-header>

          </ion-card-header>
        </ion-card>


      </ion-slide>

    </ion-slides>


    <ion-item *ngIf="ocultar">
      <ion-button (click)="agregarComida()" >Agregar Comida</ion-button>
    </ion-item>


    <ion-tabs >
      <ion-tab-bar slot="bottom">

        <ion-tab-button  (click)="comida()">
          <ion-icon name="ticket"></ion-icon>
          <ion-label>Comidas</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="principal()">
          <ion-icon name="videocam"></ion-icon>
          <ion-label>Peliculas</ion-label>
        </ion-tab-button>

        <ion-tab-button  (click)="perfil()" *ngIf="!ocultar">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button  (click)="clientes()" *ngIf="ocultar">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

</ion-content>
